body {
  background: #060a1f;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin: 5rem 5rem 5rem 5rem;
}
h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-weight: 600;
}

#enter {
  height: 32px;
  width: 40px;
  border-radius: 15px;
  border: none;
  padding: 5px 15px;
  color: #04a1bf;
  background-color: #025f70;
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75 ease;
  font-weight: normal;
}

#enter:hover {
  background-color: #02798f;
  color: #ffcd5d;
}

ul {
  text-align: left;
  margin-top: 20px;
}

li {
  list-style: none;
  padding: 10px 20px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  border: 2px solid #025f70;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #4eb9cd;
  transition: all 0.75s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5 ease;
}

li:hover {
  background: #76cfe0;
}

li > button {
  font-weight: normal;
  background: none;
  border: none;
  float: right;
  color: #025f70;
  font-weight: 800;
}

input {
  border-radius: 5px;
  width: 350px;
  padding: 5px;
  border: none;
}

.done {
  background: #51df70 !important;
  color: #00891e;
}

.delete {
  display: none;
}
